{
  "app": {
    "guid": "4d8ffc31-7072-4f3a-ae11-8dd6523c15d4"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "NGQ4ZmZjMzEtNzA3Mi00ZjNhLWFlMTEtOGRkNjUyM2MxNWQ0",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "selectdatabase": "Utilizar banco de dados temporário em disco (H2)",
      "appid": "io.cronapp.apps.waerewrwere",
      "backend": "true",
      "menuPosition": "Horizontal",
      "frontend": "true",
      "mutual": "false",
      "social": "false",
      "theme": "Material",
      "authentication": "Token"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}